.link-container {
  display: flex;
  align-items: center;
  max-height: 25px;
  cursor: pointer;
}

.link-container a {
  height: 25px;
  align-items: center;
}

.icon-container {
  max-height: 25px;
  align-items: center;
  display: flex;
  padding-left: 10px;
}
